/*-------------------------------------*/
@import 'my-colors-and-borders';
/*-------------------------------------*/

#shopify-section-footer { 
    background: $footer-background ;
    color : $footer-foreground ;
    padding: 30px 20px 10px 20px;

}