.product-single__title { color : $product-title-foreground ; }
#description p { color : $product-description-foreground ; }

////////////////////////// bb lightbox 
.mfp-bg {
    background: $style-1-background ;
}