.product-single__title { color : $product-title-foreground ; }
#description {
    text-align: left !important;
    p { 
        color : $product-description-foreground ;
    }
}
////////////////////////// bb lightbox 
.mfp-bg {
    background: $product-lightbox-background ;
}

img.mfp-img { background: $product-lightbox-background ; }

.product-single__thumbnails {
    //background: chartreuse ;
    padding-left: 10% ;
    .grid__item {
        border:2px solid red;
        clear: none !important;
        width:20%;
        padding:12px 5px;
    }
}