$background-color: rgb(228, 172, 211) ;
$foreground-color: red ;
$heading-color : rgb(55, 0, 255) ;
$border-color :brown ;
$breadcrumb-color : green ;
$menu-background : lightgreen;
$menu-links-color : lightblue ;
$menu-links-hover-color : yellow ;

