.product-single__title { color : $product-title-foreground ; }
#description p { color : $product-description-foreground ; }

////////////////////////// bb lightbox 
.mfp-bg {
    background: $product-lightbox-background ;
}

img.mfp-img { background: $product-lightbox-background ; }