$background-color: rgb(228, 172, 211) ;
$foreground-color: red ;
$heading-color : rgb(55, 0, 255) ;
$border-color :brown ;
$breadcrumb-color : green ;
$menu-background : rgb(221, 221, 221);
$menu-links-color : rgb(65, 70, 71) ;
$menu-links-hover-color : yellow ;

