/*-------------------------------------*/
@import 'my-colors-and-borders';
/*-------------------------------------*/


/*#region QUESTIONS---------------------------------*/


/*------ Do you even want borders ? -----------*/
/*------  * { border: none !important } -----------*/

/*------ Do you just want a white background ? -----------*/
/*------   * { background : white !important } -----------*/

/*------  Or do you just want a blue background ? -----------*/
/*-- * { background : blue !important }--*/



/*#endregion QUESTIONS---------------------------------*/


.site-wrapper { 
    max-width: 100% !important;
    padding: 0px ;
}
.main-content { 
    //background: yellow;
    width: 100% ;
    padding: 67px ;
}

/*#region variables---------------------------------*/

    /*#region colors ----*/    
    $style_1_background : purple ;
    $style_1_foreground : orange ;


/*#endregion colors ----*/

/*#region borders ----*/    
    $border-color-default : purple ;
    $border-size-default : 10px ;
    $border-size-xsmall : 2px ;
/*#endregion borders ----*/   

/*#endregion variables --------------------------------*/


/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/



/*#region colors applied -------------------------------*/
body { 
    background: $background-color !important; 
    color : $foreground-color !important ;
 }

h1 { color : $h1-foreground !important ; }
h2 { color : $h2-foreground !important ; }
h3 { color : $h3-foreground !important ; }
h4 { color : $h4-foreground !important ; }
h5 { color : $h5-foreground !important ; }

.breadcrumb-nav { 
    font-size: 15px ;
    //color: $breadcrumb-current-page-foreground ;
    .breadcrumb-nav__separator {
        color : $style-1-foreground !important ;
    }
    //span:nth-child(1) { color : red ; }
    /*--
    span:nth-child(2) { color : orange ; }
    span:nth-child(3) {color : yellow ; }
    span:nth-child(4) {color : yellowgreen ; }
    span:nth-child(5) {color : green ; }
    span:nth-child(6) {color : blue ; }
    --*/
    /* Links that end in ".org" */
    span:nth-of-type(2) a { color: red !important; }
    span:nth-of-type(3) a { color: lightgreen !important; }
    span:nth-of-type(4) a { color: magenta !important; }
 }
 

.page-border { background-color:$border-color !important;}

//#HeaderLogoWrapper { background: green; }
//button#ToggleMobileMenu { background: blue;}
//.site-nav__item a[href*="cart"] { background: purple; }
//#shopify-section-sidebar div { 
//    background:saddlebrown !important;
//}
/*#endregion colors applied -----------------------------*/



/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/




/*#region borders applied ------------------if you arent using border ignore----*/

/*--

.site-header__cart { border: 5px solid red; }

.main-content {border:10px solid red;}

#shopify-section-collection-template .grid__item { border: $border-size-xsmall solid red !important;}

.site-nav__item a[href*="cart"] { border: $border-size-xsmall solid lightgreen;}
--*/

/*#endregion borders applied -----------------------------*/


/*------------------------------------------*/
#contact_form {
    width:90%;
    input, select, textarea {
        border-radius: 0;
        max-width: 100%;
        background-color: $contact-textarea-background ;
        border: 0;
        padding: 8px;
        width: 100%;
        border: 1px solid $style-1-foreground ;
    }

    .btn { 
        background: $contact-button-background ;
        color: $contact-button-foreground ;
    }
}
/*------------------------------------------*/



/*-----------------BB checkout confirmation page ----*/
/*------(only "shopify plus" gets access to checkout.liquid ------------*/

