$background-color: rgb(228, 172, 211) ;
$foreground-color: red ;
$heading-color : rgb(55, 0, 255) ;
$border-color :brown ;
$breadcrumb-color : green ;






/*#region QUESTIONS---------------------------------*/


/*------ Do you even want borders ? -----------*/
/*------  * { border: none !important } -----------*/

/*------ Do you just want a white background ? -----------*/
/*------   * { background : white !important } -----------*/

/*------  Or do you just want a blue background ? -----------*/
/*-- * { background : blue !important }--*/



/*#endregion QUESTIONS---------------------------------*/

.site-header {display : none ;}
.top-bar.grid { background: burlywood;}
.site-wrapper { padding: 0px ;}
.main-content { 
    //background: yellow;
    width: 100% ;
    padding: 67px ;
}

/*#region variables---------------------------------*/

    /*#region colors ----*/    
    $style_1_background : purple ;
    $style_1_foreground : orange ;


/*#endregion colors ----*/

/*#region borders ----*/    
    $border-color-default : purple ;
    $border-size-default : 10px ;
    $border-size-xsmall : 2px ;
/*#endregion borders ----*/   

/*#endregion variables --------------------------------*/


/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/



/*#region colors applied -------------------------------*/
body { background: $background-color !important; color : $foreground-color !important ; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { color: $heading-color;}

.breadcrumb-nav a {
    color: $breadcrumb-color ;
}

.page-border { background-color:$border-color !important;}

//#HeaderLogoWrapper { background: green; }
//button#ToggleMobileMenu { background: blue;}
//.site-nav__item a[href*="cart"] { background: purple; }
//#shopify-section-sidebar div { background:saddlebrown !important;}
/*#endregion colors applied -----------------------------*/



/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/




/*#region borders applied ------------------if you arent using border ignore----*/

/*--

.site-header__cart { border: 5px solid red; }

.main-content {border:10px solid red;}

#shopify-section-collection-template .grid__item { border: $border-size-xsmall solid red !important;}

.site-nav__item a[href*="cart"] { border: $border-size-xsmall solid lightgreen;}
--*/

/*#endregion borders applied -----------------------------*/