$background-color: rgb(224, 207, 219) ;
$foreground-color: red ;
$heading-color : rgb(55, 0, 255) ;
$border-color :brown ;
$breadcrumb-color : green ;
$menu-background : rgb(221, 221, 221);
$menu-links-color : rgb(65, 70, 71) ;
$menu-links-hover-color : yellow ;
$topbar-background : rgb(213, 228, 213);
$topbar-visibility : visible !important ;
$topbar-padding-left :30px ;
$topbar-padding-right :120px ;


.instructions { 
    /*--background: navy;--*/
}
  .shipping-and-returns { 
    /*--background: yellow;--*/
}

